{% extends "base.html.jinja" %}
{% set description_text = node | description_any(languages=['de']) %}
{% set titelnummer_query = '''
PREFIX hh: <https://okfde.github.io/lod-budget-vocab/>

SELECT ?nummer
WHERE {
?resourceUri hh:nummer ?nummer.
}
''' %}
{% set titelnummer_result = node | sparql_query(titelnummer_query) %}
{% set ispartof_text = node %}
{% set statements = node | statements_as_object(as_list=true) %}

{% set year_amount_query = '''
PREFIX hh: <https://okfde.github.io/lod-budget-vocab/>
PREFIX sdmxdim: <http://purl.org/linked-data/sdmx/2009/dimension#>

SELECT ?refPeriod ?betrag ?finanzplanung
WHERE {
?resourceUri sdmxdim:refPeriod ?refPeriod.
?resourceUri hh:betrag ?betrag.
?resourceUri hh:finanzplanung ?finanzplanung.

}
''' %}

{% set year_amount_results = node | sparql_query(year_amount_query) %}

{% block description %}
    {% if description_text and titelnummer_result %}
        <div class="row">
            <div class="col-12">
            {% for result in titelnummer_result %}
                <p><strong>{{ description_text }} ({{ result['nummer'] }})</strong></p>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block ispartof_row %}

    {% if ispartof_text %}
        {% set partof_values = ispartof_text | rdf_property(SCHEMA.isPartOf) %}
        {% if partof_values %}
            <tr>
            <td>Gehört zu:</td>
            <td>
                {% for part in partof_values | sort %}
                {{ helper.prefix_link(part) }}
                {% if not loop.last %},
                {% endif %}
                {% endfor %}
            </td>
            </tr>
        {% endif %}
    {% endif %}
{% endblock ispartof_row %}

{% block observation_link %}

    {% if statements | length > 0 %}

    {% for s, p, o in statements %}

        {% if 'https://okfde.github.io/lod-budget-vocab/titel' in p %}
        <tr>
        <td>Weitere Eigenschaften: </td>
        <td>
            {{ helper.prefix_link(s) }}
        </td>
        {% endif %}                                  
    {%- endfor %}
    </tr>
    {% endif %}
{% endblock observation_link %}

{% block year_amount_obs_info %}

    {% if year_amount_results %}
        <ul>
        {% for result in year_amount_results %}
            {% set betrag = result['betrag'] | float %}
            <li>Absoluter Betrag: {{ "{:,.2f}".format(betrag) | replace(',', '#') | replace('.', '+') | replace('#', '.') | replace('+', ',')}} €</li>
            <li>Haushaltsjahr: {{ result['refPeriod'] }}</li>
            {% set hhplanung = result['finanzplanung'].split('/') | last %}
            <li>Haushaltsplanung: {{ hhplanung }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock year_amount_obs_info%}